<template>
  <v-card>
    <v-card-title>
      Rankings
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :loading="loading"
      :headers="headers"
      :items="users"
      :search="search"
      no-data-text="No existen usuarios registrados o ocurrió algún error"
      no-results-text="No existen resultados"
    ></v-data-table>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Datatable extends Vue {
  search = "";
  loading = false;
  headers = [
    {
      text: "Alias",
      sortable: false,
      value: "alias"
    },
    { text: "Puntuación total acumulada", value: "puntaje" }
  ];

  private created(): void {
    this.loading = true;
    this.$store.dispatch("user/getRanking").then(() => {
      this.loading = false;
    });
  }

  private get users(): void {
    return this.$store.getters["user/getRanking"];
  }

  // users = [
  //   {
  //     alias: "Frozen Yogurt",
  //     gender: "M",
  //     highscore: 600
  //   },
  //   {
  //     alias: "Ice cream sandwich",
  //     gender: "M",
  //     highscore: 900
  //   },
  //   {
  //     alias: "Eclair",
  //     gender: "F",
  //     highscore: 1600
  //   },
  //   {
  //     alias: "Cupcake",
  //     gender: "M",
  //     highscore: 370
  //   },
  //   {
  //     alias: "Gingerbread",
  //     gender: "M",
  //     highscore: 1600
  //   }
  // ];
}
</script>
