<template>
  <v-card class="full-page" color="teal" elevation="2">
    <v-card-title class="white--text justify-center text-h5">{{
      user.alias
    }}</v-card-title>
    <v-card-text class="white--text text-subtitle-2">
      <b>Nombre:</b> {{ user.first_name }} <br />
      <b>Apellido:</b> {{ user.last_name }} <br />
      <b>Correo electrónico:</b> {{ user.email }} <br />
      <b>Género:</b>
      {{ user.gender == "M" ? "Masculino" : "Femenino" }}</v-card-text
    >
    <v-card-text class="white--text text-subtitle-2">
      <b>Puntuación más alta:</b> {{ userRecord.bestScore }}<br />
      <b>Partidas ganadas:</b> {{ userRecord.winned }}<br />
      <b>Partidas perdidas:</b> {{ userRecord.losed }}</v-card-text
    >
  </v-card>
</template>

<script lang="ts">
import { User } from "@/services/user/entities/user.interface";
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class UserCard extends Vue {
  private mounted(): void {
    this.$store.dispatch("user/getUserInfo");
    this.$store.dispatch("user/getUserGamesRecord");
  }

  private get user(): User {
    return this.$store.getters["user/getUserInfo"];
  }

  private get userRecord() {
    return this.$store.getters["user/getUserGamesRecord"];
  }
}
</script>
