<template>
  <v-container fluid class="background mt-12">
    <v-row justify="center">
      <v-col cols="1"></v-col
      ><v-col cols="7" align="center"><Datatable /></v-col
      ><v-col cols="3"><UserCard /></v-col> <v-col cols="1"></v-col></v-row
  ></v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Datatable from "../components/rankings/Datatable.vue";
import UserCard from "../components/rankings/UserCard.vue";

@Component({
  components: {
    Datatable,
    UserCard
  }
})
export default class Rankings extends Vue {}
</script>
