<template>
  <v-container fluid class="background full-page">
    <v-row align="center" justify="center" class="full-page">
      <v-col cols="1"></v-col>
      <v-col cols="10" align="center">
        <v-card color="teal darken-3 py-6" elevation="2">
          <v-container class="px-6">
            <v-row>
              <v-col cols="12">
                <v-img
                  alt="Game Logo"
                  class="shrink my-2"
                  contain
                  :src="logo"
                  transition="scale-transition"
                  max-width="300"
                ></v-img> </v-col
            ></v-row>
            <v-card class="py-6 px-3">
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-row>
                  <v-col class="pb-0">
                    <v-text-field
                      v-model="user.alias"
                      :rules="[v => !!v || 'Campo requerido']"
                      label="Alias"
                      required
                      outlined
                      background-color="white"
                    ></v-text-field> </v-col></v-row
                ><v-row>
                  <v-col cols="6" class="py-0">
                    <v-text-field
                      v-model="user.name"
                      :rules="[v => !!v || 'Campo requerido']"
                      label="Nombre"
                      required
                      outlined
                      background-color="white"
                    ></v-text-field> </v-col
                  ><v-col cols="6" class="py-0">
                    <v-text-field
                      v-model="user.lastName"
                      :rules="[v => !!v || 'Campo requerido']"
                      label="Apellido"
                      required
                      outlined
                      background-color="white"
                    ></v-text-field> </v-col
                ></v-row>
                <v-row>
                  <v-col cols="6" class="py-0">
                    <v-text-field
                      v-model="user.email"
                      :rules="[
                        v => !!v || 'Campo requerido',
                        v => /.+@.+\..+/.test(v) || 'El correo debe ser válido'
                      ]"
                      label="Correo electrónico"
                      required
                      outlined
                      background-color="white"
                    ></v-text-field> </v-col
                  ><v-col cols="6" class="py-0">
                    <v-select
                      :items="genders"
                      outlined
                      label="Género"
                      :rules="[v => !!v || 'Campo requerido']"
                      v-model="user.gender"
                      required
                      background-color="white"
                    ></v-select></v-col
                ></v-row>
                <v-row>
                  <v-col cols="6" class="py-0">
                    <v-text-field
                      v-model="user.password"
                      :rules="[v => !!v || 'Campo requerido']"
                      label="Contraseña"
                      required
                      outlined
                      background-color="white"
                      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show ? 'text' : 'password'"
                      @click:append="show = !show"
                    ></v-text-field> </v-col
                  ><v-col cols="6" class="py-0">
                    <v-text-field
                      v-model="confirmPassword"
                      :rules="[
                        v => !!v || 'Campo requerido',
                        v =>
                          this.user.password === v ||
                          'Las contraseñas deben coincidir'
                      ]"
                      label="Comprobar contraseña"
                      required
                      outlined
                      background-color="white"
                      :append-icon="showR ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showR ? 'text' : 'password'"
                      @click:append="showR = !showR"
                    ></v-text-field> </v-col
                ></v-row>
                <v-row>
                  <v-col>
                    <v-btn
                      :disabled="!valid"
                      color="teal"
                      :loading="loading"
                      class="white--text"
                      @click="signUp()"
                    >
                      Registrarse
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Signup extends Vue {
  $refs!: {
    form: any;
  };
  logo = require("@/assets/logo-nav.png");
  genders = ["M", "F"];
  loading = false;
  valid = true;
  show = false;
  showR = false;
  confirmPassword = "";
  user = {
    alias: "",
    name: "",
    lastName: "",
    email: "",
    gender: "",
    password: ""
  };
  private signUp() {
    if (
      this.user.alias &&
      this.user.name &&
      this.user.lastName &&
      this.user.email &&
      this.user.gender &&
      this.user.password &&
      this.user.password == this.confirmPassword
    ) {
      this.loading = true;
      this.$store
        .dispatch("user/signUp", {
          alias: this.user.alias,
          email: this.user.email,
          passwd: this.user.password,
          first_name: this.user.name,
          last_name: this.user.lastName,
          gender: this.user.gender
        })
        .then((response: any) => {
          this.loading = false;
          if (!response.error) {
            this.$router.push("/login");
          } else {
            alert(`ERROR: ${response.message}`);
          }
        });
    } else {
      this.$refs.form.validate();
    }
  }
}
</script>

<style lang="scss" scoped>
.background {
  background-image: url("../assets/background.png");
  background-repeat: repeat;
  background-size: 100px;
}
</style>
