<template>
  <v-app-bar app color="teal darken-3" dark>
    <div class="d-flex align-center">
      <v-img
        alt="Game Logo"
        class="shrink ml-1"
        contain
        :src="logo"
        transition="scale-transition"
        min-width="100"
        width="150"
      />
    </div>

    <v-spacer></v-spacer>

    <a
      class="white--text text-decoration-underline"
      @click="goTo('/login')"
      v-if="!$route.meta.auth"
    >
      Inicio
    </a>
    <v-divider
      v-if="!$route.meta.auth"
      color="white"
      class="mx-3"
      vertical
    ></v-divider>
    <a
      class="white--text text-decoration-underline"
      @click="goTo('/signup')"
      v-if="!$route.meta.auth"
    >
      Registro
    </a>

    <a
      class="white--text text-decoration-underline"
      v-if="$route.meta.auth"
      download="ScrabbleUCAB"
      :href="downloadGameLink"
    >
      Descargar
    </a>
    <v-divider
      v-if="$route.meta.auth"
      color="white"
      class="mx-3"
      vertical
    ></v-divider>
    <a
      class="white--text text-decoration-underline"
      @click="logout"
      v-if="$route.meta.auth"
    >
      Cerrar sesión
    </a>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
@Component
export default class Header extends Vue {
  logo = require("@/assets/logo-nav.png");
  downloadGameLink = null;
  private goTo(route: string) {
    this.$router.push(route);
  }

  private created(): void {
    const navInfo = window.navigator.appVersion.toLowerCase();
    if (navInfo.indexOf("win") != -1) {
      this.downloadGameLink = process.env.VUE_APP_DOWNLOAD_WINDOWS;
    } else if (navInfo.indexOf("linux") != -1) {
      this.downloadGameLink = process.env.VUE_APP_DOWNLOAD_LINUX;
    } else if (navInfo.indexOf("mac") != -1) {
      this.downloadGameLink = process.env.VUE_APP_DOWNLOAD_MAC;
    }
  }

  private logout() {
    localStorage.clear();
    this.$router.push("/login");
  }
}
</script>

<style lang="scss">
.logoPointer {
  cursor: pointer;
}
</style>
