<template>
  <v-app>
    <Header />
    <v-main>
      <v-container fluid class="pa-0 full-page">
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Header from "./components/common/Header.vue";

@Component({
  components: {
    Header
  }
})
export default class App extends Vue {}
</script>

<style lang="scss">
.full-page {
  height: 100%;
}
</style>
